# Postgres database local connection
PGUSER=user
# Postgres host (default: localhost)
PGHOST=localhost 
PGPASSWORD=databasepassword
PGDATABASE=database
PGDATABASE_TEST=testdatabase
PGPORT=5432

# Application Port - express server listens on this port (default 9000).
PORT=9000

# JWT access secret
SECRET=secret

# JWT refresh secret
REFRESH_SECRET=refreshsecret

# mail server settings
SMTP_FROM=youremail
# preferably, generate an app password if using gmail.
SMTP_PASSWORD=password
SMTP_USER=youremail
SMTP_PORT=465
SMTP_HOST=smtp.gmail.com

# Stripe secret key - https://stripe.com/docs/keys
STRIPE_SECRET_KEY=sk_test_4eC39HqLyjWDarjtT1zdp7dc
